h1{
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: Cairo;
}

nav{
    font-size: 20px;
    background-color: white;
    font-family: 'Open Sans';
    color: black;
    font-weight: bold;
}

.features{
    max-width: 50%;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.features-img{
    height: 300px;
    margin-top: 70px;
}


.navbar-buttons{
    font-size: 18px;
    padding: 3px 1px;
    background-color: white;
    color: black;
    font-weight: bold;
}

#navbar-logo{
    height: 100px;
}

@media(max-width: 450px){
    .navbar-text{
        margin: auto;
    }
}

@media(max-width: 325px){
    .navbar-text{
        display: none;
    }
}