body{
    background-color:#009999; 
    font-family: Titillium;
}

#logo{
    margin: 50px auto;
    display: block;
    max-width: 100%;
    height: 200px;
}

h1{
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: Cairo;
}

h3{
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;    
}

#brand{
    height: 60px;
    width: 237px;
    margin-top:10px;
    margin-left: 10px;
}

nav{
    font-size: 25px;
    opacity: 0.7;
    
}

.features{
    background-color:#cccccc;
    max-width: 50%;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.features-img{
    height: 300px;
    margin-top: 70px;
}

.hero-image{
    background-image: url("hero-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%,20%);
    margin-top: 50px;
}

.navbar-buttons{
    font-size: 18px;
    padding: 3px 1px;
}


